<h3>Calc</h3>
<div>
    <input type="number" @bind="firstValue" placeholder="First Value" />
    <select @bind="operation">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <input type="number" @bind="secondValue" placeholder="Second Value" />
    <button @onclick="Calculate">Calculate</button>
    <span>@result</span>
</div>

@code {
    private double firstValue;
    private double secondValue;
    private string operation = "+";
    private string result;
    private void Calculate()
    {
        result = operation switch
        {
            "+" => (firstValue + secondValue).ToString(),
            "-" => (firstValue - secondValue).ToString(),
            "*" => (firstValue * secondValue).ToString(),
            "/" when secondValue != 0 => (firstValue / secondValue).ToString()
        };
    }
}
